$bluegrey: #2b3a42;

body {
  padding: 8px 16px;
  background: $bluegrey;
  color: #e1e6e9;
  font-family: Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 1.5;
  text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
  border-radius: 3px;
  .app {
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
    }
  }
}